.DS_Store
.vscode/
frank.txt

build/
result/
CPP_implementation/.DS_Store
CPP_implementation/src/build/
Hardware_implementation/memory
Hardware_implementation/src/sram
Hardware_implementation/src/sram_v2
Hardware_implementation/golden.txt

Hardware_implementation/testfile/result
Hardware_implementation/testfile/read.txt
Hardware_implementation/testfile/pixel_smooth.txt
Hardware_implementation/src/test.txt

Hardware_implementation/src/oldtb